@import "../../../../assets/colors.scss";

.description{
  margin-top: 96px;
  margin-bottom: 100px;
}
.title{
  font-family: "Playfair Display", serif;
}

.title>h1{
  font-size: 64px;
}

.living{
  color: $purple;
  font-size: 64px;
}

.description-text{
  max-width: 619px;
  text-align: center;
}

.description-text>p{
  color: $bg-dark-800;
}

@media (max-width: 991px) {
  .title{
    min-width: 325px;
    text-align: center;
    font-size: 40px;
  }

  .description{
    padding-left: 18px;
    padding-right: 18px;
  }

  .description-text {
    font-size: 16px;
  }
}
