<div class="special-products position-relative">
  <div class="special-products-box d-flex align-items-center justify-content-center">
    <div class="special-products-text">
      <span>special products</span>
    </div>
  </div>
  <div class="image-footer d-flex flex-lg-row flex-wrap flex-column justify-content-end align-items-lg-end justify-content-lg-start">
    <div class="d-flex flex-row">
      <div class="category-box d-flex flex-column">
        <span class="category">category</span>
        <span class="latest-products">Latest Products</span>
      </div>
      <div class="theme-box d-flex flex-column">
        <span class="theme">Theme</span>
        <span class="spotted-gum">Spotted Gum</span>
      </div>
    </div>
    <div>
      <a class="explore-more icon-link icon-link-hover" href="#">
        Explore more
        <i class="bi bi-arrow-right"></i>
      </a>
    </div>
  </div>
</div>
