@import "../../../../assets/colors.scss";

.special-products{
  background-image: url("/assets/images/Rectangle 1.png") !important;
  height: 551px !important;
}

.image-footer{
  position: absolute;
  bottom: 0 !important;
  width: 100%;
  height: 138px;
  background-color: rgba(31,41,55,0.9);
  padding-left: 96px;
  padding-bottom: 39px;
}

.category,.theme{
  color: $bg-dark-400;
  font-size: 16px;
}

.category-box{
  border-right: 1px solid $text-dark-50;
  padding-right: 72px;
}

.theme-box{
  padding-left: 72px;
  padding-right: 72px;
}

.explore-more{
  color: $bg-light-10;
  text-decoration: unset;
  border-bottom: 1px solid $bg-light-10;
}

.latest-products, .spotted-gum{
  color: $bg-light-10;
  font-size: 20px;
}

.special-products-box{
  position: absolute;
  top: -36px;
  left: 138px;
  background-image: url("/assets/images/Ellipse 1.png");
  background-repeat: no-repeat;
  width: 115px;
  height: 115px;
}

.special-products-text{
  rotate: 15deg;
  max-width: 66px;
  text-align: center;
}

.special-products-text>span{
  font-family: "Monotype Corsiva", serif;
  font-size: 20px;
  color: white;
}

@media (max-width: 991px) {
  .image-footer{
    position: absolute;
    bottom: 0 !important;
    width: 100%;
    height: 138px;
    background-color: rgba(31,41,55,0.9);
    padding-left: 96px;
    padding-bottom: 20px;
  }
}

@media (max-width: 566px) {
  .category-box{
    border-right: 1px solid $text-dark-50;
    padding-right: 24px;
  }

  .theme-box{
    padding-left: 24px;
  }
}
