<div class="mobile-footer w-100">
  <div class="dropdown">
    <button class="btn links-btn dropdown-toggle w-100 text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      CATEGORIES
    </button>
    <ul class="category-list dropdown-menu p-3 w-100">
      <li>
        <a>Rubber Underlay</a>
      </li>
      <li>
        <a>Engineered Timber</a>
      </li>
      <li>
        <a>Splendid Hybrid</a>
      </li>
      <li>
        <a>Luvanto Herringbone Hybrid</a>
      </li>
    </ul>
  </div>
  <div class="dropdown mt-3">
    <button class="btn links-btn dropdown-toggle w-100 text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      SOCIAL NETWORKS
    </button>
    <ul class="category-list dropdown-menu p-3 w-100">
      <li>
        <a>Instagram</a>
      </li>
      <li>
        <a>Facebook</a>
      </li>
      <li>
        <a>Twitter</a>
      </li>
    </ul>
  </div>
  <div class="dropdown mt-3">
    <button class="btn links-btn dropdown-toggle w-100 text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      OFFICE
    </button>
    <ul class="category-list dropdown-menu p-3 w-100">
      <li class="address">
        2/11-19 West Circuit, Sunshine West VIC 3020
      </li>
      <li>
        Call Us: 1300 400 440
      </li>
      <li class="d-flex flex-column">
        <span>Email Us:</span>
        <span>info@calmwalk.com.au</span>
      </li>
    </ul>
  </div>
</div>
