<div class="footer-background">
  <div class="container d-flex flex-column justify-content-around h-100">
    <div class="d-flex flex-lg-row flex-column justify-content-between">
      <img src="assets/images/logo%203.png" alt="redment logo" class="redment-logo">
      <p class="text-white footer-description">CALM WALK PTY LTD is a supplier for different ranges of flooring such as hybrid and engineered flooring in different colours and different designs.</p>
    </div>
    <app-mobile-footer class="d-flex d-lg-none w-100"></app-mobile-footer>
    <div class="footer-links d-flex flex-lg-row flex-column justify-content-between align-items-lg-center align-items-start">

      <div class="email-box d-flex flex-column col-4">
        <div class="email-title">
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
            <circle cx="8" cy="8" r="8"/>
          </svg>
          <span>KNOW IT ALL FIRST!</span>
        </div>
        <form>
          <div class="mb-3 email position-relative">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email">
            <i class="bi bi-arrow-right"></i>
          </div>
        </form>
      </div>
      <div class="d-lg-flex flex-lg-row d-none justify-content-between col-8">
        <div class="d-flex flex-column">
          <div class="category d-flex flex-row align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"/>
            </svg>
            <h4>CATEGORIES</h4>
          </div>
          <ul class="category-list">
            <li>
              <a>Rubber Underlay</a>
            </li>
            <li>
              <a>Engineered Timber</a>
            </li>
            <li>
              <a>Splendid Hybrid</a>
            </li>
            <li>
              <a>Luvanto Herringbone Hybrid</a>
            </li>
          </ul>
        </div>
        <div class="d-flex flex-column">
          <div class="category d-flex flex-row align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"/>
            </svg>
            <h4>SOCIAL NETWORKS</h4>
          </div>
          <ul class="category-list">
            <li>
              <a>Instagram</a>
            </li>
            <li>
              <a>Facebook</a>
            </li>
            <li>
              <a>Twitter</a>
            </li>
          </ul>
        </div>
        <div class="d-flex flex-column">
          <div class="category d-flex flex-row align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"/>
            </svg>
            <h4>OFFICE</h4>
          </div>
          <ul class="category-list">
            <li class="address">
              2/11-19 West Circuit, Sunshine West VIC 3020
            </li>
            <li>
              Call Us: 1300 400 440
            </li>
            <li class="d-flex flex-column">
              <span>Email Us:</span>
              <span>info@calmwalk.com.au</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right">
    <div class="container w-100 h-100 d-flex flex-lg-row flex-column align-items-center justify-content-between">
      <span class="copy-right-text">2023 Powered By <span class="redment">Redment</span></span>
      <div class="d-flex flex-row">
        <img src="assets/images/paypal.png" alt="paypal">
        <img src="assets/images/visa.png" alt="visa" class="visa">
        <img src="assets/images/american-express.png" alt="american express">
        <img src="assets/images/discover.png" alt="discover" class="discover">
        <img src="assets/images/mastercard.png" alt="mastercard">
      </div>
    </div>
  </div>
</div>
