@import "../../../../assets/colors.scss";

.header{
  margin-top: 24px;
  font-family: "SF Pro Display", serif!important;
}

.active-header{
  width: 32px;
  height: 1.5px;
  background-color: $text-dark;
}

.home-btn, .our-product-btn, .brochures-technicals-btn, .inspiration-btn,.about-us-btn{
  border: unset;
  background-color: unset;
  cursor: pointer;
}

.contact-btn{
  width: 6.5rem;
  height: 3rem;
  background-color: $bg-dark;
  border-radius: 6px;
  border: unset;
  color: $text-light;
}

.profile-btn{
  width: 4.5rem;
  height: 3rem;
  border: 1px solid $bg-dark;
  border-radius: 6px;
}
