@import "../../../../assets/colors.scss";

.header{
  background-color: $bg-light-10 !important;
  margin-top: 24px;
  font-family: "SF Pro Display", serif!important;
}

.active-header{
  width: 32px;
  height: 1.5px;
  background-color: $bg-dark-800;
}

.home-btn, .our-product-btn, .brochures-technicals-btn, .inspiration-btn,.about-us-btn{
  border: unset;
  background-color: unset;
  cursor: pointer;
}



.profile-btn{
  width: 72px;
  height: 48px;
  border: 1px solid $bg-dark;
  border-radius: 6px;
  background-color: unset;
}
