$bg-dark: #374151;
$text-light: #F9FAFB;
$bg-dark-800: #1F2937;
$bg-dark-400: #9CA3AF;
$text-dark-50: #6D7280;
$purple: #6F1AB6;
$bg-light: #F3F4F6;
$bg-light-10: #E5E7EB;
$orange-500: #FFA963;
$bg-light-200: #D9D9D9;
$bg-light-300: #D2D5DA;
$red: #F44;
